BLUESKY_IDENTIFIER=user.bsky.social
# create an app password here: https://bsky.app/settings/app-passwords
BLUESKY_PASSWORD=use-app-password-!!!

# Do not post the reply, just print it out to stdout
# DRY_RUN=false


# Open AI API Key
OPENAI_KEY=sk-somekey
# [Optional] Open AI API Base
# OPENAI_BASE_URL=https://api.openai.com/v1/
# [Optional] Set the AI Model to be used
# OPENAI_MODEL=gpt-4o-mini
